a {
	text-decoration: none;
	display: inline;
	color : green;
}


h1 
{text-align: center;
color: green;
font-size: 55px;
font-family: georgian,"Times New Roman",Time,serif;
}

body
{text-align: center;
font-size : 30px;
font-family : georgian, "Times New Roman",Time,serif;
color : green;
background-color: #FFFFEB;
text-decoration: none;
}

img {
	width:50%;
	border: 2px solid green;
	padding :5px;
}

#premier {
width:20%;
border : 2px solid black;
}

li {
	color :green;
	font-size:18px;
}

h5 {
	text-align: left
}

p {
text-align: center;
font-family: georgian,"Times New Roman",Time,serif;
font-size:20px;
}


h1 {
	text-align: center;
}

#deuxieme {
	font-size:15px;
}
h6{
text-align: left
}